---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #F5F5F5;
$iron: #333333;
$cloudy: #828282;
$twit-blue: #1da1f2;
$linked-in: #0077B5;
$gitlab: #fc6d26;
$nice-blue: #196FD2;
$github: #000;

@import
    "mixins",
    "default",
    "404"
;
